<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css
    "
    />
    <script src="./socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header-content">
          <div class="profile">
            <span>TN</span>
          </div>
        </div>
      </header>
      <div class="body">
        <div class="contact-list">
          <div class="search-container">
            <div class="search">
              <input type="text" placeholder="search" />
              <button class="btn-add-friend">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="list-friends">
            <div class="friend">
              <span class="avatar">A
                <span class="friend-active friend-active-show"></span>
              </span>
              <span class="fullname">Full Name</span>
            </div>
          </div>
        </div>
        <div class="mes">
          <div class="mes-head">
            <div class="avartar-mes">
                <span>NT</span>
            </div>
          </div>
          <div class="mes-content">
            <!-- mes -->
            <div class="mes-item">
              <span>dasdasdasdasd  anh ddaau asdasdasdasdasdsa</span>
            </div>
            <!-- form chat -->
              <div class="form-chat-container">
                <div class="form-chat">
                  <input type="text" placeholder="Aa" autofocus>
                  <button class="btn-like">  <i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/index.js"></script>
  </body>
</html>
